.class p,
.class-2 p {
	color: blue;
}

.class span,
.class em,
.class-2 span,
.class-2 em {
	color: #111;
	boolean: true;
	font-weight: 580;
}

.class span a,
.class em a,
.class-2 span a,
.class-2 em a {
	color: lightblue;
	font-weight: 40600;
	border: 1px solid black;
}

.class strong,
.class-2 strong {
	font-weight: 700;
	color: orange;
}
